<h1>WattBall Teams</h1>

<hr>

<%= table_for @teams, :html => { :class => "table table-bordered table-striped" } do -%>
  <% column :user, :title => "Manager Name" do |user| %>
    <% user.name %>
  <% end %>
  <% column :teamName %>
  <% column :badge do |badge| %>
    <% image_tag badge.url(:thumb) %>
  <% end %>
  <% column :title => "Actions" do |team| %>
    <% link_to "Show", team %>
  <% end %>
<% end %>

<%= link_to 'New Team', new_team_path %>
