<%= content_tag :h3, link_to(@blog.title, @blog) %>

<p>
  <%= @blog.body %>
</p>

<p class="blog-user">
<%= "#{@blog.user.name} \
at #{@blog.created_at.strftime "%d/%m/%y"}" %>
</p>


<% #link_to 'Edit', edit_blog_path(@blog) 
%>
<% #link_to 'Back', blogs_path 
%>
