<h1>Official Panel</h1>

<ul class="officials-panel panel">
  <li>
    <%= link_to "User", edit_user_registration_path, :class => 'btn btn-info' %> 
  <li>
    <%= link_to "Matches", current_user.official, :class => 'btn btn-info' %>
  </li>
</ul>
