<h1>Listing Competition</h1>

<%= table_for @competitions, :html => { 
  :class => "table table-bordered table-striped" 
} do -%>

  <%# Kill the whitespace %>
  <% column :name %>

  <%# Kill the whitespace %>
  <% column :ticket_limit %>

  <%# Kill the whitespace %>
  <% column :adult_price %>

  <%# Kill the whitespace %>
  <% column :concession_price %>

  <% column :title => "Action" do |competition|
    link_to "Show", competition
  end %>
  <% column :title => "Action" do |competition|
    link_to "Edit", edit_competition_path(competition)
  end %>
  <% column :title => "Action" do |competition|
    link_to "Destroy", competition, method: :delete, data: { confirm: 'Are you sure?' }
  end %>
<% end %>

<%= link_to 'New Competition', new_competition_path %>
