<h1>Listing athletes</h1>

<h3>Wattball Players</h3>
<%= table_for @wattballPlayers do -%>
  <% column :user, :title => "User Name" do |user|
   join_user_name user
  end
  %>
  <% column :dateOfBirth, :title => "Date of Birth" %>
  <% column :nationality %>
  <% column :phoneNumber, :title => "Phone Number" %>
  <% column :contact do |contact|
    contact.name
  end %>
  <% column :organisationTag, :title => "Wattball ID" %>
  <% column :team do |team| 
    team.teamName 
  end %>
<% end %>

<h3>Hurdlers</h3>
<%= table_for @hurdlePlayers do -%>
  <% column :user, :title => "User Name" do |user|
   join_user_name user
  end
  %>
  <% column :dateOfBirth, :title => "Date of Birth" %>
  <% column :nationality %>
  <% column :phoneNumber, :title => "Phone Number" %>
  <% column :previousTime, :title => "Previous Time" %>
<% end %>
<br />
<% # Possibly pass the type at this point and have one form?
%>
<%= link_to 'New Wattball Player', new_wattball_player_athletes_path %>
