<h1>Listing tournaments</h1>

<%= table_for @tournaments, :html => {
  :class => "table table-bordered"
} do -%>
  <% column :name %>
  <% column :startDate, :title => "Start" do |date| %>
    <% date.strftime "%d/%m/%y" %>
  <% end %>
  <% column :endDate, :title => "End" do |date| %>
    <% date.strftime "%d/%m/%y" %>
  <% end %>
  <% column :sport do |sport| %>
    <% sport.name %>
  <% end %>
  <% column :max_competitors %>
  <% column :title => "Actions" do |tournament| %>
    <% link_to "Show", tournament %>
  <% end %>
  <% column :title => "Actions" do |tournament| %>
    <% button_to "Schedule", { :action => "schedule", :id => tournament.id }, :confirm => "Are you sure?", :method => :schedule unless tournament == nil %>
  <% end %>
<% end %>

<%= link_to 'New Tournament', new_tournament_path %>
