  <div class="row-fluid home">
    <div class="span4 thumbnail">
      <h2>Results</h2>
      <% list = "" %>
      <% WattballMatch.joins(:event).limit(5).order(:date).each do |match|

        scores = Score.match_score(match)
        p "Scores: #{scores}"
        list += content_tag :li, "#{match.team1.teamName} #{scores[0]} -  #{scores[1]} #{match.team2.teamName}"

      end %>
      <%= content_tag :ul, list.html_safe %>
      <hr />
      <p><%= link_to("View all Results", events_path) %></p>
    </div>
    <div class="span4 thumbnail">
      <h2>News Feed</h2>
      <p></p>
   </div>
    <div class="span4 thumbnail">
      <h2>Upcoming Events</h2>
      <div class="home-events">
	      <h3>Next 5 Wattball Matches:</h3>
        <ul>
          <% # Change the period, to 2.weeks with a limit? %>
          <% WattballMatch.joins(:event).order(:date).limit(5).each do |match| %>
            <%= content_tag :li, "#{wattball_match_name(match)}"%>
          <% end %>
        </ul>

	  </div>
    </div>
  </div>

