  <div class="row">
    <div class="span4">
      <h2>Results</h2>
      <% list = "" %>
      <% WattballMatch.joins(:event).limit(5).order(:date).each do |match|

        scores = Score.match_score(match)
        p "Scores: #{scores}"
        list += content_tag :li, "#{match.team1.teamName} #{scores[1]} -  #{scores[2]} #{match.team2.teamName}"

      end %>
      <%= content_tag :ul, list.html_safe %>
      <hr />
      <p><%= link_to("View all Results", events_path) %></p>
    </div>
    <div class="span4">
      <h2>News Feed</h2>
      <p></p>
   </div>
    <div class="span4">
      <h2>Upcoming Events</h2>
      <div class="home-events">
	      <h3>Wattball:</h3>
	      <p>Saturday, November 3<br/>
			Team 1 vs Team 2 <br/>
			2:30 pm to 5:30 pm</p>
	  </div>
    </div>
  </div>

