<h1>Listing Events</h1>

<%= link_to content_tag(:h3, "Hurdle Matches"), hurdle_matches_path %>
<%= link_to content_tag(:h3, "Wattball Matches"), wattball_matches_path %>

<%= link_to 'New Event', new_event_path %>
