<h1>Listing Events</h1>
<% calendar = calendar(:year => Date.today.year, :month => Date.today.month + 1, :first_day_of_week => 1) do |d|
  events = Event.get_match_list(d).map do |e|
    content_tag :li, link_to(e.name, e)
  end

  if events.length > 0
    content_tag :ul, events.join.html_safe
  else 
    d.mday
  end
end %>

<%= calendar %>

<%= link_to content_tag(:h3, "Hurdle Matches"), hurdle_matches_path %>
<%= link_to content_tag(:h3, "Wattball Matches"), wattball_matches_path %>

<%= link_to 'New Event', new_event_path %>
