<h1>Listing Events</h1>

<%= table_for @events, :html => {
  :class => "table table-bordered table-striped"
} do -%>
  <% column :start do |start| %>
    <% get_time_of_event start %>
  <% end %>
  <% column :end %>
  <% column :date %>
  <% column :status %>
  <% column :official do |official| %>
    <% link_to join_user_name(official.user), official_path(official) %>
  <% end %>
  <% column :tournament do |tournament| %>
    <% tournament.name %>
  <% end %>
  <% column :title => "Actions" do |event| %>
    <% link_to "Show", event %>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>
