<h1>Listing hurdle_matches</h1>

<%= table_for @hurdle_matches do -%>
  <% column :event, :title => "Details" do |event| %>
    <% link_to "Details", event %>
  <% end %>
  <% column :title => "Hurdle Times" do |match| %>
    <% print_times(match) %>
  <% end %>
<% end %>
