<h1>Listing hurdle_matches</h1>

<%= table_for @hurdle_matches do -%>
  <% column :event, :title => "Details" do |event| %>
    <% link_to("Heat x", event) + " at #{get_time_of_event event.start} on #{get_date_for_event event.date}"%>
  <% end %>
  <% column :title => "Hurdle Times" do |match| %>
    <% print_times(match) %>
  <% end %>
<% end %>
