<h1>Hurdle Matches</h1>

<%= table_for @hurdle_matches, :html => {
  :class => "table table-bordered"
} do |t| -%>
  <% column :event, :title => "Details" do |event| %>
    <% "Heat #{event.number_of_event} at #{get_time_of_event event.start} on #{get_date_for_event event.start.to_date}"%>
  <% end %>
  <% column :title => "Hurdle Times" do |match| %>
    <% link_to "Times", hurdle_match_hurdle_times_path(match) %>
  <% end %>
  <% render :partial => 'events/table', :locals => { :t=> t } %>
  <% column :title => "Actions" do |wattball_match| %>
    <% link_to 'Show', wattball_match %>
  <% end %>
<% end %>

<%= link_to 'Back', events_path %>
