<p id="notice"><%= notice %></p>

<p>
<b>Hurdle times:</b>
<%= print_times(@hurdle_match) %>
</p>

<% # Render parent class 
%>
<% @event = @hurdle_match.event %>
<%= render :template => 'events/show' %>

<%= link_to 'Back', hurdle_matches_path %>
