<h1>Listing Tickets</h1>

<%= table_for @tickets, :html => {
  :class => "table table-bordered" } do -%>
  <% column :title => 'UID' do |t|
    t.barcode
  end %>
  <% column :start %>
  <% column :user do |user| 
    user.name 
  end %>
  <% column :title => "No. Adults" do |ticket|
    ticket.adults
  end %>
  <% column :title => "No. Concessions" do |ticket|
    ticket.concessions
  end %>
  <% if current_user.privileged? %>
    <% column :status %>
  <% end %>
  <% column :title => "Total Price" do |ticket|
    number_to_currency ticket.total_price
  end %>
  <% column :title => "Actions" do |wattball_match| %>
    <% link_to 'Show', wattball_match %>
  <% end %>
<% end %>

