<h1>Listing Wattball Matches</h1>

<%= table_for @wattball_matches, :html => {
  :class => "table table-bordered"
} do |t| -%>
  <% column :team1 do |team|
    team.teamName 
  end %>
  <% column :title => 'Score' do |match|
    if match.result
      match.result.join(" - ")
    else 
      " - "
    end
  end %>
  <% column :team2 do |team|
    team.teamName 
  end %>
  <% render :partial => 'events/table', :locals => { :t=> t } %>
  <% column :title => "Actions" do |wattball_match| %>
    <% link_to 'Show', wattball_match %>
  <% end %>
<% end %>
<br />

<%= link_to 'Back', events_path %>
