<h1>New wattball player</h1>

<%= form_for(@wattball_player) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', wattball_players_path %>
