/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'calendar_styles/blue'
 */

.right{
	text-align:right;
}
.navbar li.btn-group {
	margin-top: 0px;
}
.navbar li.btn-group a{
	background: none;
	border: none;
	margin: 0px;
}
.home .thumbnail{
        position: relative;
}
.home .thumbnail .bottom{
        position: absolute;
        bottom: 0px;
	width: 270px;
	height: 60px;
	text-align: center;
}
.home .thumbnail .bottom p{
	position:relative;
	bottom: 12px;
}
.home .home-events .info{
	font-size: 12px;
	position: relative;
	padding-left: 15px;
}
.home .home-events .info a{
	color: #000;
	font-size: 15px;
	position: relative;
	left: -15px;

}
.container h1 a{
	color: #555;
}
